function BitOperations.shiftLeft 2
    push argument 0
    pop local 0
    push constant 0
    pop local 1
label BitOperations_0
    push local 1
    push argument 1
    lt
    not
    if-goto BitOperations_1
    push local 0
    push constant 2
    call Math.multiply 2
    pop local 0
    push local 1
    push constant 1
    add
    pop local 1
    goto BitOperations_0
label BitOperations_1
    push local 0
    return
function BitOperations.shiftRight 2
    push argument 0
    pop local 0
    push constant 0
    pop local 1
label BitOperations_2
    push local 1
    push argument 1
    lt
    not
    if-goto BitOperations_3
    push local 0
    push constant 2
    call Math.divide 2
    pop local 0
    push local 1
    push constant 1
    add
    pop local 1
    goto BitOperations_2
label BitOperations_3
    push local 0
    return
function BitOperations.xor 0
    push argument 0
    push argument 1
    not
    and
    push argument 0
    not
    push argument 1
    and
    or
    return